/* Animation */
.anim(@value: none) {
	-webkit-animation: @value;
	-o-animation: @value;
	animation: @value;
}
.anim-delay(@value: 0s) {
	-webkit-animation-delay: @value;
	-moz-animation-delay: @value;
	-o-animation-delay: @value;
	animation-delay: @value;
}
.anim-direction(@value: normal) {
	-webkit-animation-direction: @value;
	-moz-animation-direction: @value;
	-o-animation-direction: @value;
	animation-direction: @value;
}
.anim-duration(@value: 0s) {
	-webkit-animation-duration: @value;
	-moz-animation-duration: @value;
	-o-animation-duration: @value;
	animation-duration: @value;
}
.anim-fill-mode(@value: none) {
	-webkit-animation-fill-mode: @value;
	-moz-animation-fill-mode: @value;
	-o-animation-fill-mode: @value;
	animation-fill-mode: @value;
}
.anim-iteration-count(@value: 1) {
	-webkit-animation-iteration-count: @value;
	-moz-animation-iteration-count: @value;
	-o-animation-iteration-count: @value;
	animation-iteration-count: @value;
}
.anim-name(@value: none) {
	-webkit-animation-name: @value;
	-moz-animation-name: @value;
	-o-animation-name: @value;
	animation-name: @value;
}
.anim-play-state(@value: running) {
	-webkit-animation-play-state: @value;
	-moz-animation-play-state: @value;
	-o-animation-play-state: @value;
	animation-play-state: @value;
}
.anim-timing-func(@value: ease) {
	-webkit-animation-timing-function: @value;
	-moz-animation-timing-function: @value;
	-o-animation-timing-function: @value;
	animation-timing-function: @value;
}

/* Background */
.bg(@value: none) {
	background: @value;
}
.bg-attc(@value: scroll) {
	background-attachment: @value;
}
.bg-blend-mode(@value: normal) {
	background-blend-mode: @value;
}
.bg-clip(@value: border-box) {
	-webkit-background-clip: @value;
	-moz-background-clip: @value;
	background-clip: @value;
}
.bg-color(@value: transparent) {
	background-color: @value;
}
.bg-image(@value: none) {
	background-image: @value;
}
.bg-origin(@value: padding-box) {
	-webkit-background-origin: @value;
	background-origin: @value;
}
.bg-position(@value: 0% 0%) {
	background-position: @value;
}
.bg-repeat(@value: repeat) {
	background-repeat: @value;
}
.bg-size(@value: auto auto) {
	-webkit-background-size: @value;
	background-size: @value;
}

/* Border */
.bdr(@value: none) {
	border: @value;
}
.bdr-top(@value: none) {
	border-top: @value;
}
.bdr-right(@value: none) {
	border-right: @value;
}
.bdr-bottom(@value: none) {
	border-bottom: @value;
}
.bdr-left(@value: none) {
	border-left: @value;
}
.bdr-collapse(@value: separate) {
	border-collapse: @value;
}
.bdr-color(@value: #000) {
	border-color: @value;
}
.bdr-radius(@value: 0) {
	-webkit-border-radius: @value;
	-moz-border-radius: @value;
	border-radius: @value;
}
.bdr-spacing(@value: 0) {
	border-spacing: @value;
}
.bdr-style(@value: none) {
	border-style: @value;
}
.bdr-width(@value: medium) {
	border-width: @value;
}
.bdr-bottom-width(@value: medium) {
	border-bottom-width: @value;
}
.bdr-bottom-color(@value: #000) {
	border-bottom-color: @value;
}
.bdr-top-color(@value: #000) {
	border-top-color: @value;
}
.bdr-right-color(@value: #000) {
	border-right-color: @value;
}
.bdr-bottom-color(@value: #000) {
	border-bottom-color: @value;
}
.bdr-left-color(@value: #000) {
	border-left-color: @value;
}



/* Box Sizing */
.box-sizing(@value: content-box) {
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}
.box-shadow(@value: none) {
	-webkit-box-shadow: @value;
	-moz-box-shadow: @value;
	box-shadow: @value;
}

/* Color */
.colr(@value) {
	color: @value;
}

/* Columns */
.cols(@value: auto auto) {
	columns: @value;
}
.col-count(@value: auto) {
	-webkit-column-count: @value;
	-moz-column-count: @value;
	column-count: @value;
}
.col-gap(@value: normal) {
	-webkit-column-gap: @value;
	-moz-column-gap: @value;
	column-gap: @value;
}
.col-rule(@value: medium none transparent) {
	column-rule: @value;
}
.col-rule-color(@value: transparent) {
	-webkit-column-rule-color: @value;
	-moz-column-rule-color: @value;
	column-rule-color: @value;
}
.col-rule-style(@value: none) {
	-webkit-column-rule-style: @value;
	-moz-column-rule-style: @value;
	column-rule-style: @value;
}
.col-rule-width(@value: medium) {
	-webkit-column-rule-width: @value;
	-moz-column-rule-width: @value;
	column-rule-width: @value;
}

/* Content */
.cont(@value: normal) {
	content: @value;
}

/* Counter */
.cntr-inc(@value: none) {
	counter-increment: @value;
}
.cntr-reset(@value: none) {
	counter-reset: @value;
}

/* Flex */
.flx(@value: 0 1 auto) {
	-moz-flex: @value;
	-ms-flex: @value;
	-webkit-flex: @value;
	flex: @value;
}
.flx-direction(@value: row) {
	-moz-flex-direction: @value;
	-ms-flex-direction: @value;
	-webkit-flex-direction: @value;
	flex-direction: @value;
}
.flx-flow(@value: row nowrap) {
	-moz-flex-flow: @value;
	-ms-flex-flow: @value;
	-webkit-flext-flow: @value;
	flex-flow: @value;
}
.flx-grow(@value: 0) {
	-moz-flex-grow: @value;
	-ms-flex-grow: @value;
	-webkit-flex-grow: @value;
	flex-grow: @value;
}
.flx-shrink(@value: 1) {
	-moz-flex-shrink: @value;
	-ms-flex-shrink: @value;
	-webkit-flex-shrink: @value;
	flex-shrink: @value;
}
.flx-wrap(@value: nowrap) {
	-moz-flex-wrap: @value;
	-ms-flex-wrap: @value;
	-webkit-flex-wrap: @value;
	flex-wrap: @value;
}

/* Float */
.flt(@value: none) {
	float: @value;
}

/* Font */
.fnt(@value) {
	font: @value;
}
.fnt-family(@value) {
	font-family: @value;
}
.fnt-kerning(@value: auto) {
	-moz-font-kerning: @value;
	-ms-font-kerning: @value;
	-webkit-font-kerning: @value;
	font-kerning: @value;
}
.fnt-size(@value: medium) {
	font-size: @value;
}
.fnt-style(@value: normal) {
	font-style: @value;
}
.fnt-weight(@value: normal) {
	font-weight: @value;
}

/* Misc */
.display(@value: block) {
	display: @value;
}
.lttr-spacing(@value: normal) {
	letter-spacing: @value;
}
.line-h(@value: normal) {
	line-height: @value;
}
.list-style(@value: disc outside none) {
	list-style: @value;
}
.list-style-img(@value: none) {
	list-style-image: @value;
}
.list-style-pos(@value: outside) {
	list-style-position: @value;
}
.list-style-type(@value: disc) {
	list-style-type: disc;
}
.opc(@value: 1) {
	opacity: @value;
}
.odr(@value: 0) {
	-moz-order: @value;
	-ms-order: @value;
	-webkit-order: @value;
	order: @value;
}
.outln(@value: none) {
	outline: @value;
}
.outln-color(@value: transparent) {
	outline-color: @value;
}
.outln-style(@value: none) {
	outline-style: @value;
}
.outln-width(@value: medium) {
	outline-width: @value;
}
.resz(@value: none) {
	-moz-resize: @value;
	resize: @value;
}
.valign(@value: baseline) {
	vertical-align: @value;
}
.visibly(@value: visible) {
	visibility: @value;
}
.wht-spc(@value: normal) {
	white-space: @value;
}
.wd-spacing(@value: normal) {
	word-spacing: @value;
}
.wd-wrap(@value: normal) {
	-moz-word-wrap: @value;
	-ms-word-wrap: @value;
	word-wrap: @value;
}
.zidx(@value: auto) {
	z-index: @value;
}
.zm(@value: 1) {
	zoom: @value;
}
.clr(@value: none) {
	clear: @value;
}
.csr(@value: default) {
	cursor: @value;
}
.appr(@value: none) {
	-webkit-appearance: @value;
	-moz-appearance: @value;
	appearance: @value;
}

/* Margin */
.mgn(@value: 0) {
	margin: @value;
}
.mgn-top(@value: 0) {
	margin-top: @value;
}
.mgn-right(@value: 0) {
	margin-right: @value;
}
.mgn-bottom(@value: 0) {
	margin-bottom: @value;
}
.mgn-left(@value: 0) {
	margin-left: @value;
}

/* Sizing */
.max-w(@value: none) {
	max-width: @value;
}
.max-h(@value: none) {
	max-height: @value;
}
.min-w(@value: 0) {
	min-width: @value;
}
.min-h(@value: 0) {
	min-height: @value;
}
.w(@value: auto) {
	width: @value;
}
.h(@value: auto) {
	height: @value;
}
.size(@w: auto, @h: auto) {
	.w(@w);
	.h(@h);
}
.square(@length: auto) {
	.size(@length, @length);
}

/* Overflow */
.ovflow(@value: visible) {
	overflow: @value;
}
.ovflow-x(@value: visible) {
	overflow-x: @value;
}
.ovflow-y(@value: visible) {
	overflow-y: @value;
}

/* Padding */
.padd(@value: 0) {
	padding: @value;
}
.padd-top(@value: 0) {
	padding-top: @value;
}
.padd-right(@value: 0) {
	padding-right: @value;
}
.padd-bottom(@value: 0) {
	padding-bottom: @value;
}
.padd-left(@value: 0) {
	padding-left: @value;
}

/* Position */
.pos(@value: static) {
	position: @value;
}
.t(@value: auto) {
	top: @value;
}
.r(@value: auto) {
	right: @value;
}
.b(@value: auto) {
	bottom: @value;
}
.l(@value: auto) {
	left: @value;
}
.anchor(@top: auto, @right: auto, @bottom: auto, @left: auto) {
	.t(@top);
	.r(@right);
	.b(@bottom);
	.l(@left);
}
.anchor-all(@value: auto) {
	.t(@value);
	.r(@value);
	.b(@value);
	.l(@value);
}

/* Text */
.txt-align(@value: start) {
	text-align: @value;
}
.txt-decor(@value: none) {
	text-decoration: @value;
}
.txt-indent(@value: 0) {
	text-indent: @value;
}
.txt-overflow(@value: clip) {
	-ms-text-overflow: @value;
	text-overflow: @value;
}
.txt-shadow(@value: none) {
	text-shadow: @value;
}
.txt-transform(@value: none) {
	text-transform: @value;
}
.transfm(@value: none) {
	-moz-transform: @value;
	-ms-transform: @value;
	-webkit-transform: @value;
	-o-transform: @value;
	transform: @value;
}
.transtn(@value: none) {
	-moz-transition: @value;
	-ms-transition: @value;
	-webkit-transition: @value;
	-o-transition: @value;
	transition: @value;
}

/* Flex */
.flx-flow(@value: row nowrap) {
	-webkit-flex-flow: @value;
	flex-flow: @value;
}
.flx-grow(@value: 0) {
	flex-grow: @value;
}
.jstfy-cont(@value: flex-start) {
	justify-content: @value;
}
.alg-cont(@value: stretch) {
	align-content: @value;
}
.alg-item(@value: flex-start) {
	align-items: @value;
}
.alg-self(@value: flex-start) {
	align-self: @value;
}

/* Transition */
.trans-duration(@time: .1s) {
	-webkit-transition-duration: @time;
	-moz-transition-duration: @time;
	-ms-transition-duration: @time;
	-o-transition-duration: @time;
	transition-duration: @time;
}
.trans-timing(@value: ease-out) {
	-webkit-transition-timing-function: @value;
	-moz-transition-timing-function: @value;
	-ms-transition-timing-function: @value;
	-o-transition-timing-function: @value;
	transition-timing-function: @value;
}

/*Filter*/
.fltr(@value: none) {
	-webkit-filter: @value;
	-moz-filter: @value;
	-o-filter: @value;
	-ms-filter: @value;
	filter: @value;
}