/*=== We use mobile first method ===*/
/* 320 - 479 */
@xsmall-min: 20em;
@xsmall-max: 29.938em;

/* 480 - 639 */
@small-min: 30em;
@small-max: 39.938em;      

/* 640 - 767 */
@medium-min: 40em;
@medium-max: 47.938em;

/* 768 - 991 */
@xmedium-min: 48em;
@xmedium-max: 61.938em;

/* 992 - 1199 */
@large-min: 62em;
@large-max: 74.938em;

/* 1200+ */ 
@xlarge-min: 75em;


/*=== Media Query ===*/
@screen: ~"only screen";

@landscape: ~"@{screen} and (orientation: landscape)";
@portrait: ~"@{screen} and (orientation: portrait)";

@xsmall-up: ~"@{screen} and (min-width: @{xsmall-min})";
@xsmall-only: ~"@{xsmall-up} and (max-width: @{xsmall-max})";
@xsmall-up-landscape: ~"@{xsmall-up} and (orientation: landscape)";
@xsmall-up-portrait: ~"@{xsmall-up} and (orientation: portrait)";

@small-up: ~"@{screen} and (min-width: @{small-min})";
@small-only: ~"@{small-up} and (max-width: @{small-max})";
@small-up-landscape: ~"@{small-up} and (orientation: landscape)";
@small-up-portrait: ~"@{small-up} and (orientation: portrait)";

@medium-up: ~"@{screen} and (min-width: @{medium-min})";
@medium-only: ~"@{medium-up} and (max-width: @{medium-max})";
@medium-up-landscape: ~"@{medium-up} and (orientation: landscape)";
@medium-up-portrait: ~"@{medium-up} and (orientation: portrait)";

@xmedium-up: ~"@{screen} and (min-width: @{xmedium-min})";
@xmedium-only: ~"@{xmedium-up} and (max-width: @{xmedium-max})";
@xmedium-up-landscape: ~"@{xmedium-up} and (orientation: landscape)";
@xmedium-up-portrait: ~"@{xmedium-up} and (orientation: portrait)";

@large-up: ~"@{screen} and (min-width: @{large-min})";
@large-only: ~"@{large-up} and (max-width: @{large-max})";
@large-up-landscape: ~"@{large-up} and (orientation: landscape)";
@large-up-portrait: ~"@{large-up} and (orientation: portrait)";

@xlarge-up: ~"@{screen} and (min-width: @{xlarge-min})";
@xlarge-only: ~"@{xlarge-up}";
@xlarge-up-landscape: ~"@{xlarge-up} and (orientation: landscape)";
@xlarge-up-portrait: ~"@{xlarge-up} and (orientation: portrait)";

/* ==== How To Use ====
@media @screen { }

@media @xsmall-up { }
@media @xsmall-only { }

@media @small-up { }
@media @small-only { }

@media @medium-up { }
@media @medium-only { }

@media @xmedium-up { }
@media @xmedium-only { }

@media @large-up { }
@media @large-only { }

@media @xlarge-up { }
@media @xlarge-only { }

*/